.home {
    .container-fluid {
        width: 90% !important;
        padding: 0 !important;

        .page_title {
            padding-top: 30px;

            h1 {
                letter-spacing: 0.06em;
                line-height: 53px;
                font-size: 36px;
                font-weight: 500;
                color: var(--dark);

                span {
                    color: var(--contrast-dark);
                    text-decoration: underline !important;
                    cursor: pointer;
                }
            }
        }

        .box_wrapper {
            width: 100%;
            flex-direction: column;
            padding-bottom: 45px;
            @include center;

            .row {
                width: 100%;
                @include between;

                .col-12 {
                    .col_wrapper {
                        position: relative;
                        border-radius: 10px;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;

                        }

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            background: #5959d9c2;
                            border-radius: 10px;
                            z-index: 99;
                            @include center;
                            opacity: 0;
                            visibility: hidden;
                            @include transition;

                            h1 {
                                color: var(--white-bg);
                                font-weight: 500;
                                font-size: 40px;
                                letter-spacing: 0.06em;
                            }
                        }

                        &:hover {
                            .overlay {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }
                }
            }
        }
    }
}