.photography {
    .container-fluid {
        padding: 60px 20px;

        .row {
            .col-12 {
                .text_wrapper {
                    width: 100%;


                    .page_title {
                        h1 {
                            position: relative;
                            color: var(--dark);
                            font-weight: 500;
                            font-size: 35px;
                            line-height: 35px;
                            padding-left: 15px;

                            &::before {
                                position: absolute;
                                left: 0;
                                content: "";
                                height: 100%;
                                width: 5px;
                                background: var(--contrast-light);
                            }
                        }
                    }

                    p {
                        width: 90%;
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 143.9%;
                        text-align: start;
                    }
                }

                .explore {
                    display: flex;
                    align-items: end;

                    h1 {
                        color: var(--contrast-light);
                        position: relative;
                        font-weight: 400;
                        font-size: 20px;
                        padding-left: 15px;

                        &::before {
                            position: absolute;
                            left: 0;
                            content: "";
                            height: 100%;
                            width: 5px;
                            background: var(--dark);
                        }
                    }

                    .source {
                        @include align-center;

                        svg {
                            width: 20px !important;
                            background: var(--dark);
                            border-radius: 3px;
                        }

                        path {
                            fill: var(--white-bg);
                        }

                        span {
                            background: var(--dark);
                            color: var(--white-bg);
                            padding: 3px 20px;
                            font-size: 16px;
                            border-radius: 3px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}